.flash {
  animation: flashAnim 2s ease-in-out;
}

@keyframes flashAnim {
  0% {
    background-color: #ffe066 !important;
  }
  50% {
    background-color: #fff3bf !important;
  }
  100% {
    background-color: inherit !important;
  }
}
